<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-ajuda-code">
    <a class="navbar-brand text-right" href="#">Pedir ajuda?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- Botões de 1 a 9 alinhados à direita -->
        <li class="nav-item">
          <button id="btn_1" class="btn btn-primary btn_menu dica" title="Insere linha de código">1</button>
        </li>
        <li class="nav-item">
          <button id="btn_2" class="btn btn-primary btn_menu dica" title="Insere linha de código">2</button>
        </li>
        <li class="nav-item">
          <button id="btn_3" class="btn btn-primary btn_menu dica" title="Insere linha de código">3</button>
        </li>
        <li class="nav-item">
          <button id="limpa_ide" class="btn btn-secondary btn_menu" title="Limpa a área de código"><i class="fa fa-hourglass-start" aria-hidden="true"></i></button>
        </li>
       
        
      </ul>
    </div>
  </nav>